*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

.center{
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.main{
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    place-content: center;
    gap: 20px;
}

@media(max-width: 700px) {
    .main{
        flex-direction: column;
        height: auto;
    }
}

.main .contain{
    width: 100%;
    height: 75%;
    background: url(https://empresas.blogthinkbig.com/wp-content/uploads/2019/11/Imagen3-245003649.jpg?w=800);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media(max-width: 700px) {
    .main .contain{
        flex-direction: column;
        height: 75vh;
        margin-top: 25px;
    }
}

.main .input-contain{
    width: 100%;
    padding-top: 20px;
}

.main .input-contain .btn{
    margin-top: 25px;
    text-align: center;
}

.main .input-contain .btn button{
    width: 100px;
    height: 30px;
    background-color: blue;
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
}

.main .input-contain p{
    margin-top: 20px;
    color: white;
}

.main input{
    width: 100%;
}

.modal{
    width: 400px;
    height: 400px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    display: none;
    z-index: 4;
}

@media(max-width: 700px) {
    .modal{
        width: 100%;
    }
}

.modal p{
    text-align: end;
    padding: 5px;
    margin: 15px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background-color: blue;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 2;
}

.modal .properties{
    width: 75%;
    height: 60%;
    background-color: blue;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: 400;
}

.modal-bg{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 110vh;
    background-color: #000000ed;
    display: none;
    z-index: 3;
}

@media(max-width: 700px){
    .modal-bg{
        height: 250vh;
    }
}
